.app{
    width: 700px;
    margin: auto;
    align-items: center;

}
.main_title{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;


}
.todo_id{
    width: 30px;
}
.todo_title{
    width: 140px;
}
.todo_body{
    width: 420px;
}

.title_cont{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;


}
.zagolovok{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 30px;


}
.pict{
    width: 180px;
    height: 100px;
    border-radius: 5px;
}
.but, .chenge_title{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.inp_chenge_title{
    width: 400px;
}
.text_change_zag{
    width: 280px;
    text-align: left;
    font-weight: bold;
}